:root { 
--gray_600:#7a757c; 
--gray_900_02:#282828; 
--gray_50_00:#fcfcfc00; 
--gray_900_03:#212121; 
--gray_400:#c8c6c9; 
--blue_gray_50:#f1f1f1; 
--gray_900:#131d21; 
--gray_900_01:#1f1321; 
--gray_400_4c:#c8c6c94c; 
--gray_200_b2:#ebebebb2; 
--gray_50:#fcfcfc; 
--gray_100:#f4f4f4; 
--purple_600_05:#8702c905; 
--black_900_11:#00000011; 
--black_900:#000000; 
--gray_100_01:#f6f0f9; 
--purple_600_19:#8702c919; 
--white_A700:#ffffff; 
--purple_600:#8702c9; 
}